@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* Mobile: 375px */
/* Desktop: 1440px */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-repeat: no-repeat;
}
:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Magnolia);
  overflow-x: hidden;
}

button {
  border-radius: 5px;
  transition: backgound 0.2s ease;
  cursor: pointer;
  border: none;
}

input {
  border-radius: 5px;
  border: 2px solid var(--Cool-gray);
  color: var(--Marine-blue);
  transition: all 0.3s ease;
  padding: 8px 10px;
}
input::placeholder {
  color: var(--Cool-gray);
}
input.error {
  border: 2px solid var(--Strawberry-red);
}
input:focus {
  border: 2px solid var(--Marine-blue);
  outline: none;
}
label {
  color: var(--Marine-blue);
}
@media (max-width: 576px) {
  body {
    align-items: flex-start;
  }
}