.main {
  display: grid;
  grid-template-columns: 274px 1fr;
  height: 568px;
  width: 850px;
  padding: 12px;
  box-shadow: 0px 0px 20px 0 var(--Pastel-blue);
  border-radius: 8px;
  background-color: var(--White);
}

@media (max-width: 576px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 172px min-content;
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0px;
  }
}